<!DOCTYPE html>

<html lang="en" prefix="og: http://ogp.me/ns/article#">

<head>
  <title>Clarivate - DI JARVIS</title>

  <meta charset="utf-8">

  <meta name="description" content="Project Neon"/>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no"/>

  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>


  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico" />
    <!-- Using Source Sans from CDN only because their packaging is nice and easy
    TODO: pull these fonts locally and deploy along side WebUI and FontAwesome font files -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Source+Serif+Pro:400,600" rel="stylesheet" type="text/css" />

    <!-- bower:css -->
    <!-- endbower -->

    <!-- inject:css -->
    <!-- endinject -->

    <!-- bower:js -->
    <!-- endbower -->

    <!-- inject:js -->
    <!-- endinject -->
  </head>

  <body data-ng-cloak>
    <span us-spinner="{radius:10, width:5, length: 5, color: 'black'}" spinner-key="spinner-1"></span>
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="dashBoard">INNOVATION JARVIS</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a ui-sref="autosvn" ui-sref-active="active-nav">AUTO-SVN</a></li>
          <li><a ui-sref="steam" ui-sref-active="active-nav">STEAM</a></li>
          <li><a ui-sref="database" ui-sref-active="active-nav">DATABASE</a></li>
          <li><a ui-sref="documents" ui-sref-active="active-nav">DOCUMENTS</a></li>
          <li><a ui-sref="videos" ui-sref-active="active-nav">VIDEOS</a></li>
          <li><a ui-sref="tools" ui-sref-active="active-nav">TOOLS</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><img src="/assets/img/white_logo.png" alt=""></li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->
  <div class="container-fluid containerHeight rounded">
    <div data-ui-view></div>
  </div>
  <footer>
    <p>&copy; 2017 Clarivate, Inc.</p>
    <toast></toast>
  </footer>
    <script type="application/javascript">
      (function(angular){
        angular.element(document).ready(function() {
          angular.bootstrap('html', ['jarvis']);
        });
      })(window.angular);
    </script>
</body>

</html>
