<div class="container">
  <div class="row">
    <div class="col-md-4">
      <jarvis-tile icon='github' text='AUTO-SVN' link = 'autosvn'></jarvis-tile>
    </div>
    <div class="col-md-4">
      <jarvis-tile icon='user' text='STEAM' link = 'steam'></jarvis-tile>
    </div>
    <div class="col-md-4">
      <jarvis-tile icon='database' text='DATABASE' link = 'database'></jarvis-tile>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <jarvis-tile icon='university' text='DOCUMENTS' link = 'documents'></jarvis-tile>
    </div>
    <div class="col-md-4">
      <jarvis-tile icon='video-camera' text='VIDEOS' link = 'videos'></jarvis-tile>
    </div>
    <div class="col-md-4">
      <jarvis-tile icon='cogs' text='TOOLS' link = 'tools'></jarvis-tile>
    </div>
  </div>
</div>